doctype html
html(lang='en')
  head
    title Showdown
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='css/bundle.css')
    script.
      //- if ('serviceWorker' in navigator) {
      //-   navigator.serviceWorker.register('/sw.js', { scope: '/' })
      //-     .then(reg => console.log('oh ya service worker registered'))
      //-     .catch(err => console.error(`ur boi couldn't register cmon now ${err}`));
      //- 
      //-   navigator.serviceWorker.ready
      //-     .then(reg => console.log('service worker ready boi'))
      //-     .catch(err => console.error(`nope i need more time to get ready man ${err}`));
      //- }
  body!= html
    script(src='js/bundle.js')
