@mixin click-effect($color) {
  &:active {
    background-color: darken($color, 5%);
  }
}

@mixin font-transition() {
  transition: font-size 150ms $swift-bounce;
}

@mixin ellipsis-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin no-highlight() {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
