@import '../0-vendor/normalize';
@import '../0-vendor/overpass';

@import '../1-modules/_all';

html {
  font-size: 62.5%;
}

body {
  background-color: $maroon;
  color: $grey-300;
  font-size: 2rem;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

main {
  height: 100vh;
  overflow: hidden;
}

button,
input,
textarea {
  font-family: inherit;
}
