// Header Styles
header > h1 {
  @include font-transition();

  color: $amber;
  font-size: 10vw;
  font-weight: $light;
  height: 7vh;
  letter-spacing: .8rem;
  line-height: 7vh;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-transform: uppercase;
  user-select: none;
}

@media (min-width: 420px) {
  header > h1 {
    font-size: 5vw;
  }
}

@media (min-width: 710px) {
  header > h1 {
    font-size: 4vmax;
  }
}
