// Search Bar Styles
.search {
  background-color: $accent-light;
  padding: 1.2rem;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: width 200ms $swift;
  width: 90vw;

  & > input,
  & > img {
    background-color: $maroon;
    border-radius: .2rem;
  }

  & > input {
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    color: $amber;
    height: 4rem;
    width: 100%;
    padding: .8rem;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: rgba($amber, .73);
    }
  }

  & > img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    height: 4rem;
    width: 4rem;
    padding: .4rem;
    user-select: none;
  }
}

.jar {
  @include no-highlight();

  background-color: $accent-dark;
  border-radius: .2rem;
  box-shadow: $shadow;
  box-sizing: border-box;
  display: inline-block;
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  vertical-align: top;
  width: 26rem;

  &::before,
  &::after {
    background-color: $amber;
    content: '';
    display: block;
    height: .2rem;
    position: absolute;
    transition: width 200ms $swift;
    width: 0;
    z-index: 1;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    right: 0;
    bottom: -.1rem;
  }

  &:hover {
    &::before,
    &::after {
      width: 100%;
    }
  }

  & > h3 {
    @include ellipsis-overflow();

    color: $amber;
    margin-bottom: 1.2rem;
  }
}

.jar-img {
  background-color: $maroon;
  height: 29.5rem;
  width: 21rem;
  margin: 0 auto;
  user-select: none;
}

@media (min-width: 410px) {
  .search > #back {
    top: 1.1rem;
  }
}

@media (min-width: 880px) {
  .jar {
    cursor: pointer;
  }
}
